@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;
  }


body {
    font-family: "Roboto", sans-serif;
}

.header-a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    color: #212121;
}

.div-title {
    font-family: "Roboto", serif;
    font-weight: 900;/*? Black */
    font-style: normal;
    line-height: 60px;
}

.div-ul {
    display: flex;
    flex-direction: column;   
}

.hero-button {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    background-color: #2196F3;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    cursor: pointer;
    border: none;

}

.header-li1 {
    font-family: var(--second-family);
font-weight: 700;
font-size: 26px;
letter-spacing: 0.03em;
color: #2196f3;
}


.main-p  {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575;
}

.div-b {
    font-family: "Roboto", serif;
    font-weight: 700; /*? Bald */
    font-style: normal;
}

.section-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121;
}

.footer-a {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
}

.footer-addrs {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #fff;
}

.footer-p {
    font-family: "Roboto", serif;
    font-weight: 400;/*? Regular */
    font-style: normal;
}

.footer-aa {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.header-ul {
    list-style-type: none;
    padding: 34px 0;
}

.main-ul {
    list-style-type: none;
    padding: 94px 0;
}

.section-ul {
    list-style-type: none;
    padding-bottom: 94px;

}


.footer-ul {
    list-style-type: none;
    padding: 0;
    margin-bottom: 20px;
}

.container-ul {
    display: flex;
    padding: 0 0 94px;
}

.main-button {
    display: flex;
    justify-content: center;
    font-family: var(--font-family);
font-weight: 700;
font-size: 36px;
letter-spacing: 0.03em;
text-align: center;
color: #212121;
}

.header-ul2 {
    display: flex;
    margin-left: 300px;
    gap: 24px;
}

.section-li {
    background-color: #F5F4FA;
    background: #F5F4FA;
    text-align: center;
    border-radius: 0 0 4px 4px;
    width: 270px;
    height: 428px;
box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
background: #fff;
border: none;
}


/*display: flex;
background-color: #F7F5F0;
text-align: center;
background: #F7F5F0;
padding-bottom: 30px;
border-radius: 20px;
gap: 30px;
list-style-type: none;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

*/


.main-b {
    font-family: var(--font-family);
font-weight: 700;
font-size: 14px;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #212121;
}

.b {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121; 
}

.p {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #757575; 
}

.div-title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 44px;
    line-height: 136%;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color: #fff; 
}





























