@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.header-a {
    font-family: "Roboto", serif;
    font-weight: 500;/*? Medium */
    font-style: normal;
    list-style-type: none;
}

.div-title {
    font-family: "Roboto", serif;
    font-weight: 900;/*? Black */
    font-style: normal;
    line-height: 60px;
}

.div-ul {
    display: flex;
    flex-direction: column;   
}

.hero-button {
    font-family: "Roboto", serif;
    font-weight: 700; /*? Bald */
    font-style: normal;
    background-color: #2196F3;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    width: 216px;
    height: 50px;
    cursor: pointer;
    border: none;

}

.main-p  {
    font-family: "Roboto", serif;
    font-weight: 400;/*? Regular */
    font-style: normal;
}

.div-b {
    font-family: "Roboto", serif;
    font-weight: 700; /*? Bald */
    font-style: normal;
}

.section-title {
    font-family: "Roboto", serif;
    font-weight: 700; /*? Bald */
    font-style: normal;
    text-align: center;
}

.footer-a {
    font-family: "Roboto", serif;
    font-weight: 700; /*? Bald */
    font-style: normal;
    text-decoration: none;
}

.footer-address {
    font-family: "Roboto", serif;
    font-weight: 400;/*? Regular */
    font-style: normal;
}

.footer-p {
    font-family: "Roboto", serif;
    font-weight: 400;/*? Regular */
    font-style: normal;
}

.footer-aa {
    font-family: "Roboto", serif;
    font-weight: 400;/*? Regular */
    font-style: normal;
    text-decoration: none;
}

.header-ul {
    list-style-type: none;
    padding: 34px 0;
}

.main-ul {
    list-style-type: none;
    padding: 94px 0;
}

.section-ul {
    list-style-type: none;
    padding-bottom: 94px;

}


.footer-ul {
    list-style-type: none;
}

.container-ul {
    display: flex;
    padding: 0 0 94px;
}

.main-button {
    display: flex;
    justify-content: center;
}

.header-ul2 {
    display: flex;
    margin-left: 344px;
    gap: 50px;
}

.section-li {
    background-color: #F5F4FA;
    background: #F5F4FA;
    text-align: center;
    border-radius: 0 0 4px 4px;
width: 270px;
height: 368px;
box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
background: #fff;
border: none;
}


/*display: flex;
background-color: #F7F5F0;
text-align: center;
background: #F7F5F0;
padding-bottom: 30px;
border-radius: 20px;
gap: 30px;
list-style-type: none;
box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

*/




































