@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

body {
    font-family: "Roboto", sans-serif;
}

.header-a {
    font-family: "Roboto", serif;
    font-weight: 500;/*? Medium */
    font-style: normal;
    list-style-type: none;
}

.div-title {
    font-family: "Roboto", serif;
    font-weight: 900;/*? Black */
    font-style: normal;
}

.hero-button {
    font-family: "Roboto", serif;
    font-weight: 700; /*? Bald */
    font-style: normal;
    background-color: #2196F3;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff;
    border-radius: 4px;
width: 216px;
height: 50px;
}

.main-p  {
    font-family: "Roboto", serif;
    font-weight: 400;/*? Regular */
    font-style: normal;
}

.div-b {
    font-family: "Roboto", serif;
    font-weight: 700; /*? Bald */
    font-style: normal;
}

.section-title {
    font-family: "Roboto", serif;
    font-weight: 700; /*? Bald */
    font-style: normal;
}

.footer-a {
    font-family: "Roboto", serif;
    font-weight: 700; /*? Bald */
    font-style: normal;
    text-decoration: none;
}

.footer-address {
    font-family: "Roboto", serif;
    font-weight: 400;/*? Regular */
    font-style: normal;
}

.footer-p {
    font-family: "Roboto", serif;
    font-weight: 400;/*? Regular */
    font-style: normal;
}

.footer-aa {
    font-family: "Roboto", serif;
    font-weight: 400;/*? Regular */
    font-style: normal;
    text-decoration: none;
}

.header-ul {
    list-style-type: none;
}

.main-ul {
    list-style-type: none;
}

.section-ul {
    list-style-type: none;
}

.footer-ul {
    list-style-type: none;
}

















































