.container1 {
    width: 1600px;
    height: 252px;
    background-color: rgba(47, 48, 58, 1);
}

address {
    color: white;
}


a[href="#"] {
    color: rgb(0, 0, 0);
}

font {
color: rgba(33, 150, 243, 1);
}

a[href="./index.html"] {
    color: black;
}
a[href="./portfolio.html"] {
    color: black;
}

a.footer-a {
    color: white;
}






.nav-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}



.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
















