.container {
    padding: 0 15px;
    width: 1170px;
    margin: auto;

}

ul {
    padding: 0;
}

.footer-ul {   
    padding: 0 15px;
    width: 1170px;
    margin: auto;

}

.intro {
    background-image: url(../img/Img\ \(10\).jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.div-title {
    text-transform: uppercase;
}

.biznes {
    display: block;
    text-align: center;
}

/*.intro {
    padding: 200px 0;
    background-color: rgba(47, 48, 58, 1);
    gap: 215px 94px;
}
*/

.benefit {
    padding: 84px 0;
    background-color: rgba(47, 48, 58, 1);
}

h1 {
    color: white;
}

button {
    color:rgba(33, 150, 243, 1);
}

address {
    color: white;
}

a[href^="mailto:"] {
    color: white;
}

a[href^="tel:"] {
    color: white;
}

a[href="#"] {
    color: white;
}

font {
color: rgba(33, 150, 243, 1);
}

a[href="./index.html"] {
    color: black;
}
a[href="./portfolio.html"] {
    color: black;
}
a[href=""] {
    color: black;
}

a[href^="mailto 1:"] {
    color: black;
}

a[href^="tel 1:"] {
    color: black;
}

p {
    color: rgba(117, 117, 117, 1);
}

.hero-button {
    margin: 0 auto;
    display: block;
    margin: 30px auto;
    padding: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header-li1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
}