*{
    box-sizing: border-box;
}

.container {
    padding: 0 15px;
    width: 1170px;
    margin: auto;

}

ul {
    padding: 0;
}

.footer-ul {   
    padding: 0 15px;
    margin: auto;

}

.intro {
    background-image: url(../img/Img\ \(10\).jpg);
    padding: 200px 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.div-title {
    text-transform: uppercase;
}

.biznes {
    display: block;
    text-align: center;
}

/*.intro {
    padding: 200px 0;
    background-color: rgba(47, 48, 58, 1);
    gap: 215px 94px;
}
*/

.benefit {
    padding: 84px 0;
    background-color: rgba(47, 48, 58, 1);
}

h1 {
    color: white;
}

button {
    color:rgba(33, 150, 243, 1);
}

address {
    color: white;
}

a[href="#"] {
    color: white;
}

font {
color: rgba(33, 150, 243, 1);
}

a[href="./index.html"] {
    color: black;
}
a[href="./portfolio.html"] {
    color: black;
}
a[href=""] {
    color: black;
}

a[href^="mailto 1:"] {
    color: black;
}

a[href^="tel 1:"] {
    color: black;
}

p {
    color: rgba(117, 117, 117, 1);
}

.hero-button {
    margin: 0 auto;
    display: block;
    margin: 30px auto;
    padding: 10px;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}



.img-main {
    border-radius: 4px;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
}

.section-img {
    width: 270px;
    height: 260px; 
}

.header-ul {
    align-items: center;
}

.header-ul2 {
    align-items: center;
}

.header-a:hover {
    color: #2196F3;
}

.ye-button {
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px; 
    background-color: white;
    cursor: pointer;
    fill: #AFB1B8;
}

.ye-button:hover {
    border-color: #2196F3;
}

.ye-ul {
    display: flex;
    gap: 30px;
    margin-bottom: 92px;
}

.ye-button:hover svg {
    fill: #2196F3;
}

.section-btn {
    width: 44px;
height: 44px;
    border-radius: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
    fill: #AFB1B8;
}

.section-btn:hover svg {
    fill: #fff;
}

.section-btn:hover {
    background-color: #2196F3;
}

.containerr {
    background-color: #F5F4FA;
}

.footer-ul1 {
    display: flex;
}

.benefit .container {
    display: flex;
    justify-content: start;
    gap: 70px;
}

.footer-p1 {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff; 
    padding: 0 0 20px 0;
    margin: 0;
}

.footer-btn {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 100%;
    width: 44px;
    height: 44px;
    border: none;
    fill: #fff;
    cursor: pointer;
}

.footer-btn:hover {
    background-color: #2196F3;
}

.footer-ul1 {
    gap: 10px;
    margin: 0;
}

.header-a:hover {
    fill: #2196F3;
}

/*.benefito-p {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff; 
    padding: 27px;
}
*/
.benefito-div {
    position: relative;
    display: inline-block;
}

.benefito-p {
    position: absolute;
    top: 70.5%;
    left: 0%; 
    background: rgba(47, 48, 58, 0.8);
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: #fff; 
    padding: 27px;
    width: 370px;
    height: 70px;
}

/*.benefito-div {
    background-color: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    position: static;
}
*/

.modal-field {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.01em;
    color: #757575; 
    margin-top: 10px;
}

.modal {
    border-radius: 4px;
    width: 528px;
    height: 581px; 
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
    background: #fff; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 40px;
}

.modal-btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff; 
    border-radius: 4px;
    width: 200px;
    height: 50px; 
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3;
    cursor: pointer;
    border: none;
    transition: 0.5s;
    margin: 30px 0 0 124px;
}

.policy {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    color: #757575; 
}

.policy a {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 14px;
    line-height: 171%;
    letter-spacing: 0.03em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #2196f3;
}

.textarea {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 120px; 
}

.form-input {
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    width: 448px;
    height: 40px; 
}



.modal-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.03em;
    text-align: center;
    color: #212121; 
    margin: 0;
}


.modal-close {
    width: 30px;
    height: 30px;
    border: 1px solid #c2c0c0;
    border-radius: 100%;
    fill: #fff;
    background-color: #fff;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    color: #000;
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    cursor: pointer;
}

.backdrop {
    backdrop-filter: blur(3px);
    background-color: rgba(180, 175, 175, 0.15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.modal-close .fa-xmark {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);

}

.modal-close:hover {
    color: #2196F3;
}

.modal-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.modal-field:hover svg {
    fill: #2196F3;
}

.modal-form input {
    padding: 12px 42px;
    border: 1px solid #d0cecd;
    outline: none;
}

.form-input:hover {
    border-color: #2196F3;
}

.textarea:hover {
    border-color: #2196F3;
}

.modal-form textarea {
    resize: none;
    padding: 12px 16px;
    height: 100px;
    outline: none;
    border: 1px solid #d0cecd;
}

.is-hidden {
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
}

.modal-field {
    position: relative;
}

.modal-field svg {
    position: absolute;
    top: 34px;
    left: 15px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    fill: #212121;
}

.moto-title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #fff; 
    margin: 0 0 20px 0;
}

.moto-input {
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    color: #fff;
    padding: 15px 16px;
}

.moto-btn {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.06em;
    text-align: center;
    color: #fff; 
    border-radius: 4px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #2196f3; 
    border: none;
}

.moto-div {
    position: relative;
}

.moto-li1 svg {
    position: absolute;
    top: 25px;
    left: 526px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    fill: #fff;
}

.moto-ul {
    display: flex;
    gap: 12px;
}

.header-a {
    position: relative;
    transition: 0.5s;
}

.header-a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    transform: translateX(-50%) scaleX(0);
    left: 50%;
    bottom: -5px;
    transition: 0.5s;
    border-radius: 20%;
}

.header-a:hover::after {
    transform: translateX(-50%) scaleX(1);
}







































.baner {
    background: #c2e8ce;
    height: 50px;
    position: fixed;
    padding: 5px;
    width: 100%;
    top: 0;
}