.container1 {
    width: 1600px;
    height: 252px;
    background-color: rgba(47, 48, 58, 1);
}

address {
    color: white;
}

a[href^="mailto:"] {
    color: white;
}

a[href^="tel:"] {
    color: white;
}

a[href="#"] {
    color: white;
}

font {
color: rgba(33, 150, 243, 1);
}

a[href="./index.html"] {
    color: black;
}
a[href="./portfolio.html"] {
    color: black;
}

a.footer-a {
    color: white;
}

a[href="#"] {
    color: black;
}


a[href^="mailto 1:"] {
    color: black;
}

a[href^="tel 1:"] {
    color: black;
}

.nav-ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding: 0;
}

.header-li1 {
    font-family: var(--second-family);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    color: #2196f3;
    margin: 0 93px 0 0;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
















